#game{
    width: calc(90vh - 280px);
    height: calc(90vh - 280px);
    border:solid 3px;
    margin: 2% auto 10% auto;
}

.line{
    height:33.33333%;
    border-bottom:solid 1px;
    display:flex;
    background-color: white;
}

.cell{
    width:33.333333%;
    height:100%;
    border-right:solid 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cell:hover{
    background-color: #F5F5F7;
    position: relative;
}

#gameName {
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: white;
    margin: auto;
    }


#infos{
    display: flex;
    justify-content: space-evenly;
}

.timer{
    font-size: x-large;
    display: flex;
    justify-content: center;
    width: 15%;
    background-color: white;
    margin: auto;
}

#round{
    display: flex;
    justify-content: center;
}

#score1 {
    display: flex;
    justify-content: center;
}


#score2 {
    display: flex;
    justify-content: center;
}

#ticTacMenu {
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: xx-large;
}


#player1, #player2 {
    margin:2px;
    text-align: center;
}

#border1{
    border-color: green;
    padding: 3%;
}
#border2{
    border-color: green;
    padding: 3%;
}

i{
    font-size: xx-large;
}


.iconNome{
    display: flex;

}

#turn1 ,#turn2{
    margin-left: 10px;
}

#box-win {
    background-color: #F5F5F7;
    z-index: 1000;
    position: fixed;
    right: 25%;
    top: 40%;
    border-radius:25px;
}


#roundContainer{
    background-color: white;
    height:50%;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}