* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

body {
    background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* #### Titles #### */

h1 {
    font-size: 3.0em;
    text-shadow: 0 0 30px #0000FF , 0 0 10px #FF0000;
    text-align: center;
    font-weight: 500;
    transition: .2s ease-in-out 0s;
    cursor: pointer;
}

#game-title {
    color: #f6f1da;
}

h2, h3, #timer {
    color: #f6f1da;
    text-align: center;
}

h2 {
    font-size: 1.35em;
}

h3, #timer {
    font-size: 1em;
    margin: 0;
}

#timer {
    margin-bottom: 7px;
}

/* #### Form #### */

form {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6em;
}

form > div {
    margin: 1em;
}

form > div > div {
    margin: 0.5em;
}

form > div > label {
    font-size: 1.25em;
    color: #f6f1da;
}

/* text input */

input[type=text] {
    margin:1.0em;
    border:none;
    height: 2em;
    width: 15em;
    box-shadow: 0 0 0.75rem hsl(225, 97%, 26%, 45%);
    border-radius: 30px;
    border-bottom: 1px solid #f6f1da;
    text-decoration: none;
    padding-left: 10px;
    color: hsl(225, 97%, 26%);
    outline: none;
    background-color: #f6f1da;
}

input[type="text"]::placeholder {
    color: hsl(225, 97%, 26%);
}

/* Radio input */

.input-radio-container{
    margin: 2em;
}

input[type="radio"] {
    display: none;
}

.input-radio-label {
    font-size: 1em;
    color: #f6f1da;
    cursor: pointer;
}

.input-radio-label:hover {
    color:#f6c333;
    text-shadow: 0 0 0.75rem hsl(225, 97%, 26%, 45%);
}

input[type="radio"]:checked+label {
    color:#f6c333;
    text-shadow: 0 0 0.75rem hsl(225, 97%, 26%, 45%);
}

/* #### Button #### */

button {
    height: 2em;
    align-items: center;
    background-color: hsl(225, 97%, 26%);
    color: #f6f1da;
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out 0s;
    font-weight: 400;
    width: 7.5em;
}

button:hover {
    background-color: #f6c333;
    filter: drop-shadow(0 0 0.75rem hsl(225, 97%, 26%, 45%));
    color: hsl(225, 97%, 26%);
}

/* #### Table icons #### */

#table-icons-container {
    background-color: rgba(246, 241, 218, 75%);
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem hsl(225, 97%, 26%, 45%));
    width: 100%;
    max-width: calc(100vh - 120px);
    margin: 1.5em auto;
}

#table-icons-container > svg {
    margin: 0.5em;
    max-height: 1.5em;
}

/* #### Grid cards #### */

#grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    z-index: 0;
    width: 100%;
    max-width: calc(100vh - 120px);
    margin: auto;
    height: calc(100vh - 120px);
}

.grid-easy .grid-card {
    /*height: calc(33.3333% - 10px);*/
    height: calc(25% - 10px);
}

.grid-medium .grid-card {
    height: calc(25% - 10px);
}

.grid-advanced .grid-card {
    /*height: calc(20% - 10px);*/
    height: calc(25% - 10px);
}

.grid-card {
    background-color: #f6c333;
    filter: drop-shadow(0 0 0.75rem hsl(225, 97%, 26%, 45%));
    border-radius: 12px;
    margin: 5px;
    transition: .2s ease-in-out 0s;
    width: calc(25% - 10px);
}

.grid-card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.75rem crimson);
}
/*
.grid-card:active {
    transform: rotateY(90deg);
}
*/
svg {
    color: #864ba2;
}

/* #### Pop-up #### */

#pop-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

#pop-up {
    background-color: rgba(246, 241, 218, 75%);
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 2em;
    filter: drop-shadow(0 0 0.75rem hsl(225, 97%, 26%, 45%));
}

#pop-up-title{
    color: #f6c333;
}